#dashboard-page {
}

#dashboard-page .container {
  max-width: 560px;
  margin: 48px auto 0 auto;
}

#dashboard-page .hint {
  text-align: center;
  margin-top: 56px;
  padding: 0 32px;
  font-size: 16px;
  font-weight: 600;
  color: #9c9c9c;
}

#dashboard-page .loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 32px 0;
}

#dashboard-page .loader {
  margin: 0 auto;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #535bfe;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 2s linear infinite;
}

@media screen and (max-width: 767px) {
  #dashboard-page .container {
    margin-top: 0;
    padding: 0 24px;
  }

  #dashboard-page .hint {
    margin-top: 32px;
  }

  #dashboard-page .orders {
    padding-bottom: 96px;
  }
}
