#item-page {
  width: 100%;
  height: 100%;
}

#item-page .container {
  position: relative;
  overflow: hidden;
  max-width: 432px;
  height: 760px;
  margin: 40px auto;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 10px;
}

#item-page .slider {
  position: relative;
  top: 0;
  height: 760px;
  z-index: 4;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

#item-page .form-container {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  height: 760px;
  transition: 0.3s ease-in-out;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#item-page .form-container::-webkit-scrollbar {
  display: none;
}

#item-page .header {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 24px;
  background: #535BFE;
}

#item-page .back-button {
  display: flex;
  align-items: center;
  border: 0;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding-right: 16px;
  border-right: 2px solid #fff;
}

#item-page .product-label {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  margin-left: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width:100%;
}

#item-page .icon-area {
  width: 32px;
  min-width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#item-page  #actions-container {
  display: block;
}

#item-page .content {
  padding: 16px 24px;
  padding-bottom: 80px;
}

#item-page .img-input {
  position: relative;
  margin-bottom: 16px;
  border: 2px solid #535BFE;
  border-radius: 6px;
}

#item-page .img-container {
  max-height: 296px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  overflow: hidden;
}

#item-page .item-img {
  width: 100%;
}

#item-page .img-button {
  position: absolute;
  right: 24px;
  bottom: -12px;
  border: 0;
  transition: transform 0.2s;
}

#item-page .img-button:hover {
  transform: scale(1.03);
}

#item-page .img-button:active {
  transform: none;
}

#item-page .img-label {
  background: #535bfe;
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: 0 16px;
  border-radius: 5px;
  height: 32px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  box-shadow: 0px 0px 5px #00000029;
}

#item-page .input-label {
  color: #6E6E6E;
  font-size: 16px;
  margin-bottom: 4px;
}

#item-page .input {
  margin-bottom: 16px;
  width: 100%;
  padding: 0 16px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #9C9C9C;
  font-size: 15px;
  color: #444444;
}

#item-page .input::placeholder {
  color: #9C9C9C;
  font-size: 14px;
}

#item-page .circle-button, #item-page .circle-button-disabled, #item-page .circle-button-up {
  height: 32px;
  width: 32px;
  min-width: 32px;
  border-radius: 16px;
  border: 1px solid #535BFE;
}

#item-page .circle-button-up {
  transform: rotate(180deg);
}

#item-page .circle-button:active, #item-page .circle-button-up:active {
  background: rgba(83, 91, 254, 0.2);
}

#item-page .circle-button-disabled {
  border: 1px solid #acacac;
  cursor: default;
}

#item-page .preparation-time-container {
  padding-left: 16px;
}

#item-page .preparation-time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

#item-page .preparation-input {
  margin: 0 8px;
  height: 32px;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
  width: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#item-page .time-text {
  color: #6E6E6E;
  font-size: 15px;
  margin-bottom: 4px;
}

#item-page .category-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  padding: 0 16px;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 16px;
  cursor: pointer;
}

#item-page .category-arrow {
  transform: rotate(-90deg);
}

#item-page .add-additional-container,
#item-page .additional-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #535bfe;
  border-radius: 5px;
  height: 32px;
  margin-bottom: 4px;
}

#item-page .additional-container {
  justify-content: space-between;
  border: 1px solid #535BFE;
  padding: 0 16px;

}

#item-page .add-additional-container:hover,
#item-page .additional-container:hover {
  background: #f6f6f6;
}

#item-page .submit-button-enabled, #item-page .submit-button-disabled {
  width: 100%;
  height: 56px;
  border: 0;
  color: #fff;
  background: #535bfe;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  z-index: 3;
  max-width: 432px;
}

#item-page .submit-button-disabled {
  background: #acacac;
  cursor: default;
}

#item-page .submit-button-enabled:hover {
  transform: scale(1.03);
}

#item-page .submit-button-enabled:active {
  transform: none;
}

@media screen and (max-width: 767px) {
  #item-page .container {
    margin: 0 auto;
    box-shadow: none;
    border-radius: 0;
    height: 100%;
  }
  #item-page .slider {
    overflow-y: scroll;
    height: 100%;
  }

  #item-page .form-container {
    overflow-y: scroll;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #item-page .form-container::-webkit-scrollbar {
    display: none;
  }

  #item-page .preparation-input {
    width: 88px;
  }
}

@media screen and (max-width: 350px) {
  #item-page .input-group {
    display: block;
  }

  #item-page .preparation-time-container {
    padding-left: 0;
  }

  #item-page .preparation-input {
    width: 72%;
  }
}
