#phone-input {
  width: 100%;
}

#phone-input .PhoneInput {
  --PhoneInputCountryFlag-height: 16px;
  --PhoneInputCountryFlag-borderColor: #acacac ;
  --PhoneInputCountryFlag-borderColor--focus: #9c9c9c;
  --PhoneInputCountrySelectArrow-color--focus: #9c9c9c;
}

#phone-input .PhoneInputInput {
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 5px;
  padding: 0 24px;
  border: 0;
  height: 40px;
  font-size: 16px;
  color: #444;
}

#phone-input .PhoneInputInput::placeholder {
  color: #9C9C9C;
  font-size: 16px;
}

#phone-input .PhoneInputCountry {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 5px;
  height: 40px;
  width: 64px;
}

#phone-input .PhoneInputCountryIcon {
  margin-right: 4px;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
}
