@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700,800&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

*:focus{
  outline: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
  min-width: 320px;
  overflow-x: auto;
}

body {
  font: 400 23px Muli, sans-serif;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input, button, textarea {
  font: 400 18px Muli, sans-serif;
}

form input::placeholder {
  color: #9C9C9C;
  font-size: 16px;
}

button {
  cursor: pointer;
}

button,
button:focus,
button:active {
  background: none;
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

input[type="file"] {
  display: none;
}

input[disabled] {
  color:#acacac;
  background:#f2f2f2;
}

@media screen and (max-width: 767px) {
  form input::placeholder {
    font-size: 14px;
  }
}
