@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*:focus{
  outline: 0;
}

html, body, #root {
  height: 100%;
}

body {
  font: 400 23px Muli, sans-serif;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input, button, textarea {
  font: 400 18px Muli, sans-serif;
}

button {
  cursor: pointer;
}

button,
button:focus,
button:active {
  background: none;
  outline: 0;
}

@media screen and (max-width: 767px) {}
