#costumer-menu {
  position: relative;
  width: 100%;
  height: 100%;
}

#costumer-menu .container {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  overflow-y: scroll ;
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#costumer-menu .container::-webkit-scrollbar {
  display: none;
}

#costumer-menu .info-container {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  margin-bottom: 48px;
}

#costumer-menu .logo-container {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 16px;
}

#costumer-menu .logo {
  width: 48px;
}

#costumer-menu .img-container {
  max-height: 432px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden
}

#costumer-menu .establishment-img {
  width: 100%;
  min-width: 320px;
  min-height: 240px;
  background: #ddd;
}

#costumer-menu .info-area {
  position: absolute;
  display: block;
  width: 100%;
  padding: 24px 40px;
  bottom: -48px;
  background: #fff;
  box-shadow: 0px 0px 10px #00000029;
}

#costumer-menu .info {
  width: 100%;
  max-width: 432px;
  margin: 0 auto;
}

#costumer-menu .title-area {
  width: 100%;
  overflow-wrap: break-word;
}

#costumer-menu .title {
  font-size: 24px;
  color: #505050;
  font-weight: 700;
}

#costumer-menu .rating-area {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

#costumer-menu .rating-text {
  color: #6F6F6F;
  font-size: 15px;
  font-weight: 400;
}

#costumer-menu .products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 48px;
}

#costumer-menu .products {
  width: 100%;
  margin: 0 16px;
  max-width: 432px;
}

#costumer-menu .category-label {
  padding-top: 24px;
  font-size: 21px;
  color: #505050;
  font-weight: 700;
  letter-spacing: 0.7px;
}

#costumer-menu .empty-text {
  padding: 32px 0;
  font-size: 16px;
  font-weight: 600;
  color: #acacac;
  text-align: center;
}

@media screen and (max-width: 767px) {
  #costumer-menu {
    overflow-y: scroll;
  }
  #costumer-menu .info-container {
    margin-bottom: 56px;
  }

  #costumer-menu .img-container {
    max-height: 364px;
  }

  #costumer-menu .info-area {
    bottom: -56px;
    padding: 16px 24px;
    width: 100%;
  }
}

@media screen and (max-height: 567px) {
  #costumer-menu .img-container{
    max-height: 280px;
  }
}
