#costumer-menu {
  position: relative;
  width: 100%;
  height: 100%;
}

#costumer-menu .container {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  padding-bottom: 72px;
  overflow-y: scroll ;
  max-width: 560px;
  margin: 0 auto;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#costumer-menu .container::-webkit-scrollbar {
  display: none;
}

#costumer-menu .info-container {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  margin-bottom: 48px;
}

#costumer-menu .logo-container {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 16px;
}

#costumer-menu .logo {
  width: 48px;
}

#costumer-menu .img-container {
  max-height: 432px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#costumer-menu .establishment-img {
  width: 100%;
  min-width: 320px;
  min-height: 240px;
  background: #ddd;
}

#costumer-menu .info {
  position: absolute;
  display: block;
  width: 100%;
  padding: 24px 40px;
  bottom: -48px;
  background: #fff;
  box-shadow: 0px 0px 10px #00000029;
}

#costumer-menu .title-area {
  width: 100%;
  overflow-wrap: break-word;
}

#costumer-menu .title {
  font-size: 24px;
  color: #505050;
  font-weight: 600;
}

#costumer-menu .rating-area {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

#costumer-menu .rating-text {
  color: #6F6F6F;
  font-size: 15px;
  font-weight: 400;
}

#costumer-menu .option-area {
  cursor: pointer;
}

#costumer-menu .option-area:hover {
  background: #f6f6f6;
}

#costumer-menu .option {
  padding: 24px 0;
  margin: 0 40px;
  border-bottom: 1px solid #e6e6e6;
}

#costumer-menu .option-text {
  color: #252525;
  font-weight: 400;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  #costumer-menu {
    overflow-y: scroll;
  }
  #costumer-menu .info-container {
    margin-bottom: 56px;
  }

  #costumer-menu .img-container {
    max-height: 364px;
  }

  #costumer-menu .info {
    bottom: -56px;
    padding: 16px 24px;
    width: 100%;
  }

  #costumer-menu .img-button {
    font-size: 12px;
    right: 32px;
  }


  #costumer-menu .option {
    padding: 16px 0;
    margin: 0 24px;
  }

  #costumer-menu .option-text {
    font-size: 16px;
  }
}

@media screen and (max-height: 567px) {
  #costumer-menu .img-container{
    max-height: 280px;
  }
}
