#star-rating {
  position: relative;
  padding: 0;
  display:inline-block;
  align-items: center;
}

#star-rating .star-rating-top {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  display: flex;
  top: 0;
  left: 0;
}

#star-rating .star-rating-bottom {
  display: flex;
}

#star-rating .star {
  margin-right: 4px;
}

.star-rating-container {
  display: flex;
  align-items: center;
}

.raters-text {
  margin-left: 4px;
  font-size: 15px;
  color: #9c9c9c
}

@media screen and (max-width: 767px) {
  .raters-text {
    font-size: 14px;
  }
}
