#order-modal {
  position: fixed;
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: calc(100% + 100px);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

#order-modal .modal-container {
  position: absolute;
  padding: 16px 24px;
  margin: 0 auto;
  width: 90%;
  max-width: 432px;
  background: #fff;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 5px;
  opacity: 1;
  top: calc(50% - 160px);
}

#order-modal .group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#order-modal .modal-text {
  color: #606060;
  font-size: 21px;
  font-weight: 600;
}

#order-modal .modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #FE5F53;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  right: 24px;
  top: 24px;
  color: #FE5F53;
}

#order-modal .modal-subtext {
  color: #606060;
  font-size: 15px;
  font-weight: 400;
  margin-top: 16px;
}

#order-modal .button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

#order-modal .modal-cart-button {
  border: 1.5px solid #24D18A;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #24D18A;
  padding: 8px 16px;
  width: 100%;
  margin-right: 8px;
}

#order-modal .modal-cart-button:active {
  background: #24D18A;
  color: #fff;
}

#order-modal .modal-order-button {
  border: 1.5px solid #24D18A;
  background:#24D18A;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 8px;
  width: 120px;
  min-width: 120px;
}

#order-modal .modal-order-button:active {
  transform: scale(1.03);
}

@media screen and (max-width: 413px) {
  #order-modal .modal-order-button {
    font-size: 14px;
    width: 104px;
    min-width: 104px;
  }

  #order-modal .modal-cart-button {
    font-size: 14px;
  }
}

@media screen and (max-width: 372px) {
  #order-modal .modal-order-button {
    height: 56px;
  }

  #order-modal .modal-cart-button {
    height: 56px;
  }
}
