#customer-menu {
  position: relative;
  width: 100%;
  height: 100%;
}

#customer-menu .container {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  overflow-y: scroll ;
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#customer-menu .container::-webkit-scrollbar {
  display: none;
}

#customer-menu .info-container {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  margin-bottom: 48px;
}

#customer-menu .back-button {
  position: absolute;
  display: flex;
  align-items: center;
  top: 8px;
  left: 16px;
  border: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 40px;
  z-index: 5;
}

#customer-menu .logo-container {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 16px;
}

#customer-menu .logo {
  width: 48px;
}

#customer-menu .img-container {
  max-height: 432px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#customer-menu .establishment-img {
  width: 100%;
  min-width: 320px;
  min-height: 200px;
  background: #ddd;
}

#customer-menu .info-area {
  position: absolute;
  display: block;
  width: 100%;
  padding: 24px 40px;
  bottom: -48px;
  background: #fff;
  box-shadow: 0px 0px 10px #00000029;
}

#customer-menu .info {
  width: 100%;
  max-width: 432px;
  margin: 0 auto;
}

#customer-menu .title-area {
  width: 100%;
  overflow-wrap: break-word;
}

#customer-menu .title {
  font-size: 24px;
  color: #505050;
  font-weight: 700;
}

#customer-menu .establishment-address {
  color: #9C9C9C;
  font-size: 14px;
}

#customer-menu .rating-area {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

#customer-menu .rating-text {
  color: #6F6F6F;
  font-size: 15px;
  font-weight: 400;
}

#customer-menu .products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 48px;
}

#customer-menu .products {
  width: 100%;
  margin: 0 16px;
  max-width: 432px;
  margin-bottom: 64px;
}

#customer-menu .category-label {
  padding-top: 24px;
  font-size: 21px;
  color: #505050;
  font-weight: 700;
  letter-spacing: 0.7px;
}

#customer-menu .empty-text {
  padding: 32px 0;
  font-size: 16px;
  font-weight: 600;
  color: #acacac;
  text-align: center;
}

#customer-menu .loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
}

#customer-menu .loader {
  margin: 0 auto;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #535bfe;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#customer-menu .buttons-container {
  position: absolute;
  right: 24px;
  bottom: 72px;
  display: flex;
}

#customer-menu .bill-button {
  width: 48px;
  min-width: 48px;
  height: 48px;
  border: 0;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #24D18A;
  box-shadow: 0px 3px 6px #00000029;
}

@media screen and (max-width: 767px) {
  #customer-menu {
    overflow-y: scroll;
  }
  #customer-menu .info-container {
    margin-bottom: 56px;
  }

  #customer-menu .img-container {
    max-height: 364px;
  }

  #customer-menu .info-area {
    bottom: -56px;
    padding: 16px 24px;
    width: 100%;
  }
}

@media screen and (max-height: 567px) {
  #customer-menu .img-container{
    max-height: 280px;
  }
}
