#basic-menu .finish-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 24px;
}

#basic-menu .finish-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: #24d18a;
  z-index: 0;
}

#basic-menu .close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  border: 0;
  font-size: 22px;
  color: #fff;
}

#basic-menu .finish-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#basic-menu .finish-text {
  color: #fff;
  text-align: center;
}

#basic-menu .symbols-container1,
#basic-menu .symbols-container2 {
  padding: 16px 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#basic-menu .symbols-container1 {
  margin-right: -120px;
}

#basic-menu .symbols-container2 {
  margin-left: -120px;
}

#basic-menu .pending-text {
  border-bottom: 2px solid #fff;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 8px 0;
  margin-bottom: 56px;
  text-align: center;
}
