#actions-container {
  position: relative;
  display: none;
}

#actions-container .actions-button {
  background: none;
  border: 0;
  position: relative;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#actions-container .actions,
#actions-container .actions-down {
  position: absolute;
  width: 184px;
  left: -184px;
  bottom: -8px;
  background: #fff;
  border-radius: 5px;
  border: 0;
  box-shadow: 0px 0px 5px #00000029;
  z-index: 3;
}

#actions-container .actions-down {
  bottom: -54px;
}

#actions-container .action-area {
  display: row;
  width: 100%;
  padding: 0 16px;
  cursor: pointer;
}

#actions-container .action-area:hover {
  border-radius: 5px;
  background: #f6f6f6;
}

#actions-container .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #6E6E6E;
  padding:  12px 0;
  border-bottom: 1px solid #e6e6e6;
}


#actions-container .remove-icon {
  transform: rotate(45deg);
  display: flex;
}

#actions-container .toggle-button {
  border: 0;
  display: flex;
  align-items: center;
}

#actions-container .toggle-background {
  position: relative;
  height: 12px;
  width: 40px;
  background: #B4B7FF;
  border-radius: 6px;
}

#actions-container .toggle-circle-on, #actions-container .toggle-circle-off {
  position: absolute;
  top: -4px;
  height: 20px;
  width: 20px;
  left: 0;
  background: #535BFE;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
}

#actions-container .toggle-circle-on {
  background: #535BFE;
  transform: translateX(24px);

}

#actions-container .toggle-circle-off {
  background: #fff;
  transform: translateX(-4px);
}
