#button-component {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 5px;
}

#button-component:not(:disabled):hover {
  transform: scale(1.01);
}

#button-component:active {
  transform: none;
}

#button-component[disabled] {
  cursor: default;
}

#button-component.big {
  width: 100%;
  padding: 8px 16px;
  font-size: 18px;
}

#button-component.small {
  padding: 4px 12px;
  font-size: 16px;
}

#button-component.primary {
  background: var(--buttonColor);
  color: var(--white);
  border: 0;
}

#button-component.primary[disabled] {
  background: var(--mediumGrey);
}

#button-component.secondary {
  border: 1.5px solid var(--buttonColor);
  color: var(--buttonColor);
}

#button-component.secondary:active {
  background: var(--buttonColor);
  color: var(--white);
}

#button-component.secondary[disabled] {
  border-color: var(--mediumGrey);
  color: var(--mediumGrey);
}

#button-component.tertiary {
  border: 1.5px solid var(--white);
  color: var(--white);
}

#button-component.tertiary:active {
  background: var(--buttonColor);
  color: var(--white);
}

#button-component.tertiary[disabled] {
  border-color: var(--mediumGrey);
  color: var(--mediumGrey);
}

#button-component.warning {
  border: 1.5px solid var(--warning);
  color: var(--warning);
}

#button-component.warning:active {
  background: var(--warning);
  color: var(--white);
}

@media screen and (max-width: 767px) {
  #button-component {
    font-size: 18px;
    font-weight: 600;
  }
}

