#progression-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid #535bfe;
  height: 10px;
  border-radius: 5px;
  margin-top: 32px;
  margin-bottom: 45px;
}

#progression-bar .progression {
  position: absolute;
  background: #535bfe;
  height: 8px;
  left: -2px;
  border-radius: 5px;
}
