#progression-bar {
  width: 100%;
  border: 2px solid #535bfe;
  height: 10px;
  border-radius: 5px;
  margin-top: 32px;
  margin-bottom: 45px;
}

#progression-bar .firstStep {
  background: #535bfe;
  height: 6px;
  width: 6%;
  border-radius: 2px;
}

#progression-bar .secondStep {
  background: #535bfe;
  height: 6px;
  width: 25%;
  border-radius: 2px;
}

#progression-bar .thirdStep{
  background: #535bfe;
  height: 6px;
  width: 50%;
  border-radius: 2px;
}

#progression-bar .fourthStep {
  background: #535bfe;
  height: 6px;
  width: 75%;
  border-radius: 2px;
}
