#establishment-sign-up .circle-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

#establishment-sign-up .circle {
  position: absolute;
  background: #535bfe;
  border-radius: 50%;
  width: 2320px;
  height: 2320px;
  top: -1680px;
  right: calc(50% - 1160px);
}

#establishment-sign-up .circle-container .wave {
  position: absolute;
}

#establishment-sign-up .done-text {
  position: relative;
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  margin-top: 400px;
  margin-bottom: 150px;
}

#establishment-sign-up .menu-button {
  position: relative;
  color: #535bfe;
  background: #fff;
  font-size: 21px;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
  height: 60px;
  border: 1px solid #535bfe;
  box-shadow: 0px 0px 5px #00000029;
  transition: transform .2s;
}

#establishment-sign-up .menu-button:hover {
  transform: scale(1.03);
}

#establishment-sign-up .menu-button:active {
  color: #fff;
  background: #535bfe;
}

#establishment-sign-up .later-button {
  position: relative;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 400;
  color: #535BFE;
  border: 0;
  background: none;
}

@media screen and (max-width: 767px) {
  #establishment-sign-up .circle {
    width: 864px;
    height: 864px;
    top: -420px;
    right: calc(50% - 432px);

  }

  #establishment-sign-up .done-text {
    margin-top: 180px;
    margin-bottom: 180px;
    font-size: 50px;
  }

  #establishment-sign-up .menu-button {
    font-size: 18px;
    height: 48px;
  }

  #establishment-sign-up .menu-button:hover {
    transform: none;
  }

  #establishment-sign-up .later-button {
    font-size: 15px;
  }
}
