#menu-page {
  width: 100%;
  height: 100%;
}

#menu-page .container {
  position: relative;
  overflow: hidden;
  max-width: 432px;
  height: 760px;
  margin: 40px auto;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 10px;
}

#menu-page .slider {
  position: relative;
  top: 0;
  height: 760px;
  z-index: 4;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

#menu-page .form-container {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  height: 760px;
  transition: 0.3s ease-in-out;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#menu-page .form-container::-webkit-scrollbar {
  display: none;
}

#menu-page .header {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 24px;
  background: #535BFE;
}

#menu-page .back-button {
  display: flex;
  align-items: center;
  border: 0;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding-right: 16px;
  border-right: 2px solid #fff;
}

#menu-page .header-label {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  margin-left: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width:100%;
}

#menu-page .icon-area {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
}

#menu-page  #actions-container {
  display: block;
}

#menu-page .content {
  padding: 24px;
  padding-bottom: 72px;
}

#menu-page .input-label {
  color: #6E6E6E;
  font-size: 16px;
  margin-bottom: 4px;
}

#menu-page .input {
  margin-bottom: 16px;
  width: 100%;
  padding: 0 16px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #9C9C9C;
  font-size: 15px;
  color: #444444;
}

#menu-page .input::placeholder {
  color: #9C9C9C;
  font-size: 14px;
}

#menu-page .add-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  padding: 0 16px;
  border: 1px solid #535bfe;
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 16px;
  color: #535bfe;
  cursor: pointer;
}

#menu-page .item-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #535bfe;
  border-radius: 5px;
  height: 32px;
  margin-bottom: 4px;
}

#menu-page .item-container {
  justify-content: space-between;
  border: 1px solid #535BFE;
  padding: 0 16px;

}

#menu-page .add-item-container:hover,
#menu-page .item-container:hover {
  background: #f6f6f6;
}

#menu-page .submit-button-enabled, #menu-page .submit-button-disabled {
  width: 100%;
  height: 56px;
  border: 0;
  color: #fff;
  background: #535bfe;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  z-index: 3;
  max-width: 432px;
}

#menu-page .submit-button-disabled {
  background: #acacac;
  cursor: default;
}

#menu-page .submit-button-enabled:hover {
  transform: scale(1.03);
}

#menu-page .submit-button-enabled:active {
  transform: none;
}

@media screen and (max-width: 767px) {
  #menu-page .container {
    margin: 0 auto;
    box-shadow: none;
    border-radius: 0;
    height: 100%;
  }

  #menu-page .slider {
    overflow-y: scroll;
    height: 100%;
  }

  #menu-page .form-container {
    overflow-y: scroll;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #menu-page .form-container::-webkit-scrollbar {
    display: none;
  }
}


