#service-product-page {
  position: relative;
  max-width: 560px;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 96px;
}

#service-product-page .amount-container{
  margin-top: 24px;
  padding: 0 24px;
}
