#customer-sign-up .form-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#customer-sign-up .label {
  font-weight: 600;
  font-size: 22px;
  color: #252525;
  margin-bottom: 16px;
}

#customer-sign-up .remember-text {
  font-size: 12px;
  color: #9c9c9c;
  margin-top: 8px;
  text-align: center;
}

#customer-sign-up .social-media {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  cursor: pointer;
}

#customer-sign-up .register-or {
  font-size: 18px;
  font-weight: 400;
  color: #9C9C9C;
  margin-right: 4px;
}

#customer-sign-up .register-link {
  font-size: 18px;
  font-weight: 400;
  color: #535BFE;
  border: 0;
  background: none;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  #customer-sign-up .register-or,
  #customer-sign-up .register-link {
    font-size: 16px;
    font-weight: 600;
  }

  #customer-sign-up .remember-text {
    font-size: 12px;
  }
}
