#input-component {
  position: relative;
  width: 100%;
  display: flex;
}

#input-component .input-component {
  width: 100%;
  padding: 0 16px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 17px;
  color: var(--lightBlack);
};

#input-component .dont-remove-this {
}

#input-component .primary {
  border: 1px solid var(--grey);
}

#input-component .secondary {
  border: 1px solid var(--primary);
}

#input-component .tertiary {
  border: 0;
  box-shadow: 0px 0px 4px var(--boxShadow);
}

#input-component .prefix {
  text-indent: 32px;
}

#input-component .suffix {
  padding-right: 24px;
}

#input-component .prefix-container,
#input-component .suffix-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 15px;
  font-weight: 400;
  color: var(--grey);
}

#input-component .prefix-container {
  left: 12px;
  top: 1px;
}

#input-component .suffix-container {
  right: 12px;
  top: 1px;
}

@media screen and (max-width: 767px) {
  #input-component .input-component {
    height: 40px;
    font-size: 16px;
  }
}

