#dashboard-page .orders {
  margin-top: 24px;
  padding-bottom: 48px;
}

#dashboard-page .table-container + .table-container {
  margin-top: 24px;
}

#dashboard-page .table-label {
  font-size: 20px;
  font-weight: 600;
  color: var(--grey);
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  #dashboard-page .orders {
    padding-bottom: 96px;
  }

  #dashboard-page .table-label {
    font-size: 18px;
  }
}
