#tabnavigator {
  width: 100%;
  background: #535BFE;
  z-index: 5;
}

#tabnavigator .header-content {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  max-width: 920px;
  height: 60px;
  padding: 0 24px;
}

#tabnavigator .navlink-container {
  display: flex;
  width: 215px;
  justify-content: flex-end;
}

#tabnavigator .navlink {
  font-size: 16px;
  color: #fff;
  height: 24px;
  margin: 0 20px;
}

#tabnavigator .logo {
  width: 64px;
  margin: 0 24px;
}

@media screen and (max-width: 767px) {
  #tabnavigator {
    width: 100%;
    background: #fff;
    position: fixed;
    bottom: 0;
    min-width: 320px;
  }

  #tabnavigator .header-content {
    border-top: 1px solid #535BFE;
    padding: 0 16px;
    margin: 0 32px;
  }

  #tabnavigator .navlink {
    height: 32px;
    width: 32px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #tabnavigator .tab-icon {
    width: 24px;
    height: 24px;
  }
}
