#picture-page {
  width: 100%;
  height: 100%;
}

#picture-page .container {
  display: block;
  justify-content: center;
  align-items: center;
  max-width: 560px;
  margin: 0 auto;
  padding: 0 24px;
}

#picture-page .button-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #CFCFCF;
  margin-top: 32px;
  padding: 16px 0;
}

#picture-page .button {
  display:flex;
  align-items: center;
  border: 0;
  background: none;
  font-weight: 600;
  font-size: 21px;
}

#picture-page .content {
  margin: 32px 0;
}

#picture-page .label {
  font-size: 19px;
  color: #252525;
  font-weight: 600;
  margin-bottom: 16px;
}

#picture-page .image, .image-disabled {
  min-width: 250px;
  width: 100%;
  border: 2px solid #535BFE;
  border-radius: 6px;
}

#picture-page .image-disabled {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  border: 2px solid #9c9c9c;
}

#picture-page .img-button {
  border: 0;
  margin-top: 24px;
  transition: transform .2s;
}

#picture-page .img-button:hover {
  transform: scale(1.03);
}

#picture-page .img-button:active {
  transform: none;
}

#picture-page .img-label {
  background: #535bfe;
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: 0 16px;
  border-radius: 5px;
  height: 32px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
}

#picture-page .submit-button-enabled, .submit-button-disabled {
  width: 100%;
  height: 56px;
  margin: 0 32px;
  border: 0;
  border-radius: 6px;
  color: #fff;
  background: #535bfe;
  font-size: 18px;
  font-weight: 600;
  margin: 32px 0;
  box-shadow: 0px 0px 6px #00000029;
}

#picture-page .submit-button-disabled {
  background: #9C9C9C;
  cursor: default;
}

#picture-page .submit-button-enabled:hover {
  transform: scale(1.03);
}

#picture-page .submit-button-enabled:active {
  transform: none;
}

@media screen and (max-width: 767px) {
  #picture-page {
    overflow: scroll;
  }

  #picture-page .container {
    height: 100%;
  }

  #picture-page .button-container {
    margin-top: 0;
  }

  #picture-page .content {
    position: relative;
    margin-top: 0;
    top: 15%;
    padding-bottom: 48px;
  }

  #picture-page .button {
    font-size: 17px;
  }

  #picture-page .submit-button-enabled {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    border-radius: 0;
  }

  #picture-page .submit-button-disabled {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    border-radius: 0;
  }
}
