#profile {
  position: relative;
  width: 100%;
  height: 100%;
}

#profile .container {
  display: block;
  justify-content: center;
  align-items: center;
  max-width: 560px;
  margin: 0 auto;
  padding-bottom: 72px;
}

#profile .info-container {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  margin-bottom: 48px;
}

#profile .logo-container {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 16px;
  z-index: 1;
}

#profile .img-container {
  max-height: 432px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#profile .img-container:before {
  content: '';
  position:absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0,0,0,0) 70%, rgba(0,0,0,0.6) 115%);
  z-index: 0;
}

#profile .establishment-img {
  width: 100%;
  min-width: 320px;
  min-height: 240px;
  background: #ddd;
}

#profile .info {
  position: absolute;
  display: block;
  width: 100%;
  padding: 24px 40px;
  bottom: -48px;
  background: #fff;
  box-shadow: 0px 0px 6px #00000029;
}

#profile .img-button {
  position: absolute;
  right: 48px;
  top: -16px;
  height: 32px;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  background: #535bfe;
  color: #fff;
  border: 0;
  box-shadow: 0px 0px 5px #00000029;
  transition: transform 0.2s;
}

#profile .img-button:hover {
  transform: scale(1.03);
}

#profile .img-button:active {
  transform: none;
}

#profile .title-area {
  width: 100%;
  overflow-wrap: break-word;
}

#profile .title {
  font-size: 21px;
  font-weight: 600;
}

#profile .address-area {
  display: flex;
  align-items: center;
  max-width: 80%;
}

#profile .address-text {
  color: #6F6F6F;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#profile .rating-area {
  display: flex;
  align-items: center;
}

#profile .rating-text {
  color: #6F6F6F;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 767px) {
  #profile {
    overflow-y: scroll;
  }
  #profile .info-container {
    margin-bottom: 56px;
  }

  #profile .img-container {
    max-height: 364px;
  }

  #profile .info {
    bottom: -56px;
    padding: 16px 24px;
    width: 100%;
  }

  #profile .img-button {
    font-size: 12px;
    right: 32px;
  }
}

@media screen and (max-height: 567px) {
  #profile .img-container{
    max-height: 280px;
  }
}
