#inventory {
  width: 100%;
  height: 100%;
}

#inventory .container {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  max-width: 432px;
  height: 720px;
  margin: 40px auto;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#inventory .container::-webkit-scrollbar {
  display: none;
}

#inventory .header {
  position: relative;
  width: 100%;
  height: 104px;
  background: #535BFE;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  padding: 0 40px;
}

#inventory .wave {
  position: absolute;
  top: -36px;
  right: -8px;
  display: inline-block;
}

#inventory .header-label {
  color: #fff;
  font-size: 21px;
  font-weight: 600;
}

#inventory .content {
  margin: 24px 0;
}

#inventory .add-item-container {
  padding: 16px 16px;
  display: flex;
  align-items: center;
  color: #535BFE;
  font-size: 18px;
  cursor: pointer;
}

#inventory .item-container {
  padding: 12px 16px;
  display: flex;
  align-items: center;
}

#inventory .item-container a{
  width: 100%;
  display: flex;
  align-items: center;
}

#inventory .item-container:hover, #inventory .add-item-container:hover {
  background: #f6f6f6;
}
#inventory .item-container:hover #actions-container {
  display: block;
}

#inventory .img-container {
  height: 40px;
  width: 40px;
  min-width: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  border-radius: 5px;
  color: #fff;
  font-weight: 900;
  font-size: 25px;
  background: #fff;
}

#inventory .item-img {
  height: 100%;
}

#inventory .item-info {
  overflow: hidden;
  display: row;
  align-items: flex-start;
  width: 100%;
}

#inventory .item-title {
  font-size: 16px;
  color: #252525;
  font-weight: 600;
}

#inventory .item-code {
  font-size: 12px;
  color:#9C9C9C;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#inventory .icon-area,
#inventory .remove-icon-area {
  width: 32px;
  min-width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#inventory .remove-icon-area {
  transform: rotate(45deg);
}

#inventory .additional-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#inventory .additional-title-input, #inventory .additional-price-input {
  border: 1px solid #535BFE;
  border-radius: 5px;
  padding: 0 12px;
  height: 32px;
  font-size: 15px;
  color: #535BFE;
  font-weight: 400;
}

#inventory .additional-title-input {
  width: 60%;
  margin-right: 8px;
}

#inventory .additional-price-input {
  width: 35%;
  min-width: 88px;
  margin-right: 8px;
}

#inventory .additional-title-input::placeholder, #inventory .additional-price-input::placeholder {
  color: #9C9C9C;
  font-size: 14px;
}

#inventory .lock-container {
  position: absolute;
  right: 16px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  #inventory {
    overflow-y: scroll;
  }

  #inventory .container {
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 560px;
    height: auto;
    margin: 0 auto;
    box-shadow: none;
    border-radius: 0;
    padding-bottom: 72px;
  }

  #inventory .header {
    border-radius: 0;
    padding: 0 24px;
  }

  #inventory .add-item {
    font-size: 16px;
  }
}
